body {
  font-family:'Comfortaa', sans-serif;

  font-size: 90%;
  background: #000;
}

li {
  color: #e3e3e3;
}

ul {
  list-style: none;
  width: 18em;
  margin: 0 auto;
  padding: 0.25em;
}

li {
  margin-bottom: 2.5em;
}

h2 {
  margin-bottom: 0.2em;
}

.countdown {
  font-size: 3em;
  color: #fff;

}

p {
  margin-top: 0em;
}

.bar {
  width: 100%;
  height: 5em;
  background: red;
}

.s21,.s11,.s3 {
  color: white;
  padding: 0.1em 0.1em 0.0em 0.1em;
}

.s21 {
  background: #B4143A
}

.s11 {
  background: #04952B;
}

.s3 {
  background: #54216E;
}
